body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .MuiDataGrid-columnHeaders {
  background-color: transparent !important;
  backdrop-filter: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid white;
}


.MuiDataGrid-columnHeaderTitle {
  color: white !important;
  font-weight: bold;
} */
